@model Apuntado
<h1>Editar Apuntado</h1>
<form method="post" class="form-group align-content-center">
    <input type="hidden" name="idinscripcion" value="@Model.IdApuntado"/>
    <input type="hidden" name="idtorneo" class="form-control" value="@Model.IdTorneo" />
    <input type="hidden" name="idjugador" class="form-control" value="@Model.IdJugador" />
   
    <div class="input-group my-2">
        <label class="input-group-text">Puesto: </label>
        <input type="number" name="puesto" class="form-control" value="@Model.Puesto" />
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Record: </label>
        <input type="text" name="record" class="form-control" value="@Model.Record" />
    </div>
  
    <div class="input-group my-2">
        <label class="input-group-text">Seed: </label>
        <input type="text" name="seed" class="form-control" value="@Model.Seed" />
    </div>
    <button type="submit" class="btn btn-outline-info form-control">
        Enviar
    </button>
</form>
