@model List<VistaTorneo>
@{
    int maxregistros = (int)ViewData["REGISTROS"];
    int ultpos = maxregistros - 1;
    int siguiente = (int)ViewData["SIGUIENTE"];
    int anterior = (int)ViewData["ANTERIOR"];
    int posicion = (int)ViewData["POSICION"];
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <a asp-controller="Torneos"
               asp-action="ListaTorneosAdmin"
               asp-route-posicion="1"
               class="btn btn-danger">
                <<
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Torneos"
               asp-action="ListaTorneosAdmin"
               asp-route-posicion="@anterior"
               class="btn btn-warning">
                <
            </a>
        </div>
        <div class="col-4">
            <h3>
                @posicion - @siguiente de @maxregistros
            </h3>
        </div>
        <div class="col-2">
            <a asp-controller="Torneos"
               asp-action="ListaTorneosAdmin"
               asp-route-posicion="@siguiente"
               class="btn btn-warning mx-5">
                >
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Torneos"
               asp-action="ListaTorneosAdmin"
               asp-route-posicion="@ultpos"
               class="btn btn-success">
                >>
            </a>
        </div>




    </div>
    <div class="row text-center">
        <a asp-controller="Home"
           asp-action="VistaAdmin"
           class="btn btn-danger form-control">
            Volver
        </a>
    </div>
    <div class="row my-3">
        <a asp-controller="Torneos"
           asp-action="NuevoTorneo"
           class="btn btn-info form-control">
            Nuevo Torneo
        </a>
    </div>
    <div class="row my-5">
        @foreach (VistaTorneo torneo in Model)
        {
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="~/images/@torneo.Foto" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">@torneo.Nombre </h3>
                        <h4> Tipo: @torneo.Tipo Region: @torneo.Region</h4>
                        <h5 class="card-text">Fecha: @torneo.Fecha.ToString().Substring(0, 11)</h5>
                        <h5>Entrants: @torneo.Napuntados </h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary"
                                   asp-controller="Torneos"
                                   asp-action="EditarTorneo"
                                   asp-route-idtorneo="@torneo.IdTorneo">
                                    Editar Torneo
                                </a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary"
                                   asp-controller="Torneos"
                                   asp-action="EliminarTorneo"
                                   asp-route-idtorneo="@torneo.IdTorneo">
                                    Eliminar torneo
                                </a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary"
                                   asp-controller="Apuntados"
                                   asp-action="ListaApuntadosAdmin"
                                   asp-route-idtorneo="@torneo.IdTorneo">
                                    Ver apuntados
                                </a>
                            </div>
                            <div class="col">
                                <a class="btn btn-success"
                                   asp-controller="Sets"
                                   asp-action="NuevoSet"
                                   asp-route-idtorneo="@torneo.IdTorneo">
                                    Insertar Set
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

