@model List<VistaTorneo>
@{
    int maxregistros = (int)ViewData["REGISTROS"];
    int ultpos = maxregistros - 1;
    int siguiente = (int)ViewData["SIGUIENTE"];
    int anterior = (int)ViewData["ANTERIOR"];
    int posicion = (int)ViewData["POSICION"];
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <a asp-controller="Torneos"
               asp-action="ListaTorneos"
               asp-route-posicion="1"
               class="btn btn-danger">
                <<
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Torneos"
               asp-action="ListaTorneos"
               asp-route-posicion="@anterior"
               class="btn btn-warning">
                <
            </a>
        </div>
        <div class="col-4">
            <h3>
                @posicion - @siguiente de @maxregistros
            </h3>
        </div>
        <div class="col-2">
            <a asp-controller="Torneos"
               asp-action="ListaTorneos"
               asp-route-posicion="@siguiente"
               class="btn btn-warning mx-5">
                >
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Torneos"
               asp-action="ListaTorneos"
               asp-route-posicion="@ultpos"
               class="btn btn-success">
                >>
            </a>
        </div>




    </div>
    <div class="row my-5">
        @foreach (VistaTorneo torneo in Model)
        {
            <div class="col-6">
                <div class="card" >
                    <img class="card-img-top" src="~/images/@torneo.Foto" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">@torneo.Nombre Torneo: @torneo.Tipo  </h3>
                        <h4> @torneo.Region</h4>
                        <h5 class="card-text">Fecha: @torneo.Fecha</h5>
                        <h5>Entrants: @torneo.Napuntados </h5>
                        <a class="btn btn-primary"
                           asp-controller="Torneos"
                           asp-action="DetallesTorneo"
                           asp-route-idtorneo="@torneo.IdTorneo">
                            Detalles torneo
                        </a>
                        <a class="btn btn-primary"
                           asp-controller="Torneos"
                           asp-action="EditarTorneo"
                           asp-route-idtorneo="@torneo.IdTorneo">
                            Editar torneo
                        </a><a class="btn btn-primary"
                               asp-controller="Apuntados"
                               asp-action="ListaApuntadosTorneo"
                               asp-route-idtorneo="@torneo.IdTorneo">
                            Ver apuntados
                        </a>
                        <a class="btn btn-primary"
                           asp-controller="Apuntados"
                           asp-action="NuevoApuntado"
                           >
                            Apuntarse
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

