@model Jugador
<form method="post" class="form-group align-content-center">
    <div class="input-group my-2">
        <label class="input-group-text">Nick: </label>
        <input type="text" name="nick" class="form-control" value="@Model.Nick"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Region: </label>
        <input type="text" name="region" class="form-control" value="@Model.Region"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Nombre: </label>
        <input type="text" name="nombre" class="form-control" value="@Model.Nombre"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Email: </label>
        <input type="number" name="email" class="form-control" value="@Model.Email"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Password: </label>
        <input type="text" name="password" class="form-control" value="@Model.Password"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Rol: </label>
        <input type="text" name="rol" class="form-control" value="@Model.Rol"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Equipo: </label>
        <input type="text" name="equipo" class="form-control" value="@Model.Equipo"/>
    </div>
    <button type="submit" class="btn btn-outline-info form-control">
        Enviar
    </button>
</form>
