@model Jugador
<form method="post" class="form-group align-content-center">
    <input type="hidden" name="idjugador" value="@Model.IdJugador"/>
    <div class="input-group my-2">
        <label class="input-group-text">Nick: </label>
        <input type="text" name="nick" class="form-control" value="@Model.Nick"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Region: </label>
        <input type="text" name="region" class="form-control" value="@Model.Region"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Nombre: </label>
        <input type="text" name="nombre" class="form-control" value="@Model.Nombre"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Email: </label>
        <input type="text" name="email" class="form-control" value="@Model.Email"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Password: </label>
        <input type="text" name="password" class="form-control" value="@Model.Password"/>
    </div>
    <div class="input-group my-2">
        @if (Context.User.FindFirst(ClaimTypes.Role).Value == "Admin")
        {
            <select name="rol">
                <option value="Admin">Admin</option>
                <option value="Jugador">Jugador</option>
            </select>
        }
        else
        {
            <input type="hidden" name="rol" value="Jugador" />
        }
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Equipo: </label>
        <input type="text" name="equipo" class="form-control" value="@Model.Equipo"/>
    </div>
    <button type="submit" class="btn btn-outline-info form-control">
        Enviar
    </button>
</form>
