@model List<Jugador>

@foreach (Jugador jug in @Model)
{
    <div class="row my-3 border border-danger">
        <div class="col my-3">
            <span style="font-size: 1.20em; font-weight: bold;">
                Nick:
                @if(jug.Equipo != null)
                {
                <span> @jug.Equipo |</span>
                }
                    @jug.Nick
            </span>
        </div>
        <div class="col my-3">

            <span style="font-size: 1.20em; font-weight: bold">
                | Region: @jug.Region |
            </span>
        </div>
        <div class="col my-3">
            <span style="font-size:1.20em; font-weight:bold; color: limegreen"> Email: @jug.Email</span>
        </div>
   
        <div class="col-1 my-3">
            <a class="btn btn-outline-danger"
               asp-controller="Jugadores"
               asp-action="PerfilJugador"
               asp-route-idjugador="@jug.IdJugador"
             >
                 Perfil 
            </a>

        </div>
    </div>
}