@model Set 
<form method="post" class="form-group align-content-center">
    <input type="hidden" name="idset" value="@Model.IdSet"/>
    <div class="input-group my-2">
        <label class="input-group-text">Jugador1: </label>
        <input type="text" name="jugador1" class="form-control" value="@Model.IdApuntado1"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Jugador2: </label>
        <input type="text" name="jugador2" class="form-control" value="@Model.IdApuntado2"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Ganador: </label>
        <input type="date" name="ganador" class="form-control" value="@Model.Ganador"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Resultado: </label>
        <input type="number" name="resultado" class="form-control" value="@Model.Resultado"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Ronda: </label>
        <input type="text" name="tipo" class="form-control" value="@Model.Ronda"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Torneo: </label>
        <input type="text" name="torneo" class="form-control" value="@Model.IdTorneo"/>
    </div>
    <button type="submit" class="btn btn-outline-info form-control">
        Enviar
    </button>
</form>