@model List<VistaApuntadosTorneo>
@{ 
    string ronda = (string)ViewData["RONDA"];
    string resultado = (string)ViewData["RESULTADO"];
}
<form method="post" class="form-group align-content-center">
    <div class="input-group my-2">
        <label class="input-group-text">Jugador 1</label>
        <select name="ap1" class="form-control">
            @foreach (VistaApuntadosTorneo vista in @Model)
            {
                <option value="@vista.IdApuntado">
                    @vista.Nick
                </option>
            }
        </select>

    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Jugador 2</label>
        <select name="ap2" class="form-control">
            @foreach (VistaApuntadosTorneo vista in @Model)
            {
                <option value="@vista.IdApuntado">
                    @vista.Nick
                </option>
            }
        </select>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Ganador</label>
        <select name="apganador" class="form-control">
            @foreach (VistaApuntadosTorneo vista in @Model)
            {
                <option value="@vista.IdApuntado">
                    @vista.Nick
                </option>
            }
        </select>

    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Resultado: </label>
        <input type="text" name="resultado" class="form-control" value="@resultado"/>
    </div>
    <div class="input-group my-2">
        <label class="input-group-text">Ronda: </label>
        <input type="text" name="ronda" class="form-control" value="@ronda"/>
    </div>
    <div class="input-group my-2">
        @{
            int idtorneo = (int)ViewData["IDTORNEO"];
        }
        <input type="hidden" name="torneo" class="form-control" value="@idtorneo" />
    </div>
    <button type="submit" class="btn btn-outline-info form-control">
        Enviar
    </button>
</form>
